@{
    ViewData["Title"] = "Help";
}
<br />
<h2>Работа с коммунальными услугами:</h2>
<br />
<p>Можно создать услугу и клиента независимо от чего-либо.</p>
<p>Контракт можно создать, только создав клиента и услугу.</p>
<p>Платёжный документ можно создать, только создав клиента и контракт.</p>